<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" android:installLocation="auto" android:requiredSplitTypes="base__abi" android:splitTypes="" android:theme="@android:style/Theme.NoTitleBar" package="com.garena.game.codm" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.garena.game.codm.permission.C2D_MESSAGE"/>
    <permission android:name="com.garena.game.codm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.iap.permission.BILLING"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <uses-feature android:glEsVersion="0x30000"/>
    <uses-feature android:name="android.hardware.vulkan" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider"/>
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.facebook.lite"/>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="androidx.browser.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.appsflyer.referrer.INSTALL_PROVIDER"/>
        </intent>
        <package android:name="com.instagram.android"/>
        <package android:name="com.samsung.android.mapsagent"/>
        <package android:name="com.xiaomi.mipicks"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
        <package android:name="com.google.android.gms"/>
        <package android:name="com.android.vending"/>
    </queries>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.samsung.android.mapsagent.permission.READ_APP_INFO"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission android:name="com.garena.game.codm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.garena.game.codm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:allowNativeHeapPointerTagging="false" android:appCategory="game" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.garena.sdk.android.login.guest.backup.GuestCloudBackupAgent" android:dataExtractionRules="@xml/appsflyer_data_extraction_rules" android:enableOnBackInvokedCallback="false" android:extractNativeLibs="true" android:fullBackupContent="false" android:icon="@mipmap/app_icon" android:isGame="true" android:label="@string/app_name" android:name="androidx.multidex.MultiDexApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:resizeableActivity="true" android:restoreAnyVersion="true" android:roundIcon="@mipmap/app_icon_round" android:supportsRtl="true" android:theme="@style/UnityThemeSelector" android:usesCleartextTraffic="true">
        <meta-data android:name="CS_APPID" android:value="a0f367de35"/>
        <meta-data android:name="com.garena.sdk.ApplicationSourceId" android:value="2"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <uses-native-library android:name="libOpenCL.so" android:required="false"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <meta-data android:name="BUGLY_AREA" android:value="oversea"/>
        <meta-data android:name="UseObb" android:value="false"/>
        <meta-data android:name="UseAAB" android:value="false"/>
        <meta-data android:name="GCloud.TDM.Abroad" android:value="true"/>
        <meta-data android:name="com.garena.sdk.line.channelId" android:value="0"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.tencent.tmgp.cod.CODMPrivatePermissionActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowTranslucentStatus="true">
            <meta-data android:name="IMSDK_GAME_ACTIVITY_CLASSNAME" android:value="com.tencent.tmgp.cod.CODMainActivity"/>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="codmgrn"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.android.support.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="com.android.support.Menu" android:stopWithTask="true"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|fontScale" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.tencent.tmgp.cod.CODMainActivity" android:screenOrientation="sensorLandscape">
            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false"/>
            <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false"/>
        </activity>
        <meta-data android:name="MIDAS.APP_SDK_ASSIGN_ID" android:value="@string/midas_garena_appid"/>
        <meta-data android:name="MIDAS.VIRTUAL_CURRENCY_NAME" android:value="@string/midas_vname"/>
        <meta-data android:name="MIDAS.APP_SDK_SKIP_INIT" android:value="true"/>
        <meta-data android:name="MIDAS.CONVERT_GOOGLPLAY_PRICES" android:value="true"/>
        <service android:enabled="true" android:exported="false" android:name="com.tencent.tmgp.headphonedetectlib.HeadsetMonitorService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="dataSync" android:name="com.ihoc.mgpa.download.BgDownloadService"/>
        <service android:enabled="true" android:exported="true" android:name="com.tencent.vmp.sdkproxy.VivoService">
            <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
        </service>
        <meta-data android:name="GCloud.GCloud.LogMode" android:value="2"/>
        <meta-data android:name="com.garena.sdk.applicationKey" android:value="388066813c7cda8d51c1a70b0f6050b991986326fcfb0cb3bf2287e861cfa415"/>
        <meta-data android:name="GCloud.TDM.TGEMIT_ROUTER_ADDRESS_FORMAL" android:value="https://sg.tdatamaster.com:8013/tdm/v1/route"/>
        <meta-data android:name="CENTAURI.APP_SDK_ASSIGN_ID" android:value="@string/midas_garena_appid"/>
        <meta-data android:name="CENTAURI.VIRTUAL_CURRENCY_NAME" android:value="@string/midas_vname"/>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true"/>
        <activity android:name="com.tencent.pandora.livepusher.ScreenCapture$PermissionActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <provider android:authorities="com.garena.game.codm.MAGTInitprovider" android:enabled="true" android:exported="false" android:name="com.mediatek.magt.MAGTInitProvider"/>
        <service android:name="com.mediatek.magt.LocalMAGTService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.centauri.oversea.business.pay.CTIProxyActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.garena.game.codm.ApolloFileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.gsdk.gcloud.ApolloProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/apollo_file_paths"/>
        </provider>
        <meta-data android:name="GCloud.GCloud.GameId" android:value="@string/gcloud_game_id"/>
        <meta-data android:name="GCloud.GCloud.GameKey" android:value="@string/gcloud_game_key"/>
        <meta-data android:name="GCloud.GCloudCore.RemoteConfigUrl" android:value="@string/gcloud_remote_control_url"/>
        <meta-data android:name="GCloud.GCloudCore.GTraceUrl" android:value="@string/gcloud_trace_url"/>
        <meta-data android:name="GCloud.TDM.Test" android:value="false"/>
        <provider android:authorities="com.garena.game.codm.ABaseFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.gcore.abase.GCFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/gcore_file_paths"/>
        </provider>
        <service android:enabled="true" android:exported="false" android:name="com.ihoc.mgpa.gradish.GRService" android:process="com.lvluo.message">
            <intent-filter>
                <action android:name="com.ihoc.mgpa.gr.action.FALE_Natified"/>
                <category android:name="com.ihoc.mgpa.gr.category.HIDM_CATGORY"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.appsflyer.FacebookApplicationId" android:value="\341893326515823"/>
        <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:exported="true" android:name="com.itop.gcloud.msdk.core.policy.MSDKPolicyActivity">
            <meta-data android:name="MSDK_POLICY_VERSION" android:value="1"/>
        </activity>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <service android:exported="false" android:name="com.itop.gcloud.msdk.pixui.firebase.push.FirebasePushReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.itop.gcloud.msdk.pixui.firebase.push.FirebasePushActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.garena.sdk.android.login.garena.ui.EmailAuthActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.garena.sdk.android.login.garena.ui.GarenaAuthActivity" android:theme="@style/Theme.AppCompat"/>
        <service android:exported="true" android:name="com.garena.sdk.android.login.guest.AccountAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <meta-data android:name="com.garena.sdk.applicationId" android:value="100082"/>
        <meta-data android:name="com.garena.sdk.applicationVariant" android:value=""/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/garena_fb_login_protocol_scheme"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.garena.game.codm" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider341893326515823" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <meta-data android:name="com.garena.sdk.google_client_id" android:value="1081086495316-2oo2ce5rfp6hvruder3169jngdbdvcab.apps.googleusercontent.com"/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/google_pgs_app_id"/>
        <provider android:authorities="com.garena.game.codm.system.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.itop.gcloud.msdk.pixui.system.SystemFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/system_share_storage"/>
        </provider>
        <activity android:configChanges="locale|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|fontScale" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.itop.gcloud.msdk.pixui.webview.WebViewActivity" android:process=":msdk_inner_webview" android:screenOrientation="locked" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|fontScale" android:launchMode="singleTop" android:name="com.itop.gcloud.msdk.pixui.webview.WebViewIPCActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="GCloud.TDM.LogLevel" android:value="1"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.garena.sdk.android.payment.ui.DenominationActivity" android:theme="@style/Activity.BackgroundDim"/>
        <meta-data android:name="com.garena.sdk.payment.platformId" android:value="201069"/>
        <provider android:authorities="com.garena.game.codm.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="com.garena.sdk.android.payment.PaymentInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.garena.sdk.android.login.LoginCoreInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.garena.sdk.android.analytics.sentry.SentryInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.garena.sdk.android.logging.gop.GopLoggingInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.garena.sdk.android.MSDKInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.garena.sdk.android.login.pgs.ui.PlayGamesProxyActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.garena.sdk.android.share.facebook.ui.FacebookFriendsProxyActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.garena.sdk.android.login.web.ui.LoginWebAuthActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.garena.sdk.android.share.ui.ShareProxyActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <receiver android:name="com.garena.sdk.android.share.listener.ShareSheetUserSelectionReceiver"/>
        <activity android:name="com.garena.sdk.android.webview.ui.WebViewActivity" android:screenOrientation="sensor" android:theme="@style/AppFullScreenTheme"/>
        <meta-data android:name="com.google.android.backup.api_key" android:value="unused"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.garena.sdk.android.login.ui.LoginProxyActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.garena.sdk.android.login.guest.backup.FindBackGuestProxyActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="false" android:name="co.datadome.sdk.CaptchaActivity" android:theme="@style/AppFullScreenTheme.Translucent"/>
        <meta-data android:name="io.sentry.ndk.enable" android:value="false"/>
        <meta-data android:name="io.sentry.auto-init" android:value="false"/>
        <provider android:authorities="com.garena.game.codm.msdk.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.garena.sdk.android.storage.MSDKFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/shared_file_paths"/>
        </provider>
        <provider android:authorities="com.garena.game.codm.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="componentverify_ag_cbg_root" android:value="@string/ag_sdk_cbg_root"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:enabled="false" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="com.garena.game.codm.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="8.0.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <provider android:authorities="com.garena.game.codm.playgamesinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.android.gms.games.provider.PlayGamesInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.games.internal.v2.resolution.GamesResolutionActivity" android:theme="@style/Theme.Games.Transparent"/>
        <activity android:exported="true" android:name="com.google.android.gms.games.internal.v2.appshortcuts.PlayGamesAppShortcutsActivity" android:theme="@style/Theme.Games.Transparent"/>
        <meta-data android:name="com.google.android.gms.games.version" android:value="@string/play_games_sdk_version"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="true" android:exported="true" android:name="com.ano.gshell.GP7Service" android:process=":GP7Service">
            <intent-filter>
                <action android:name="com.ano.gshell.GP7Service"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="com.ano.gshell.GP6Service" android:process=":GP6Service">
            <intent-filter>
                <action android:name="com.ano.gshell.GP6Service"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="com.ano.gshell.GP7Worker" android:process=":GP7Worker">
            <intent-filter>
                <action android:name="com.ano.gshell.GP7Worker"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
    </application>
</manifest>
